jupyterlab==4.3.4
matplotlib==3.10.0
mlflow==2.19.0
numpy==2.0.2
pandas==2.2.3
scikit-learn==1.6.0
tensorflow==2.18.0
torch==2.5.1
torchmetrics==1.6.1
torchinfo==1.8.0
torchvision==0.20.1
torchviz==0.0.3
virtualenv==20.28.1